<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <th:block th:replace="_commun :: head"></th:block>
  
    </head>
    <body>
        <th:block th:replace="_commun :: header"></th:block>
        
        <main class="container-fluid">
        	<h2 class="text-center">Catégries</h2>
        	
        	<ul class="list-group mb-4 text-center">
			  <li class="list-group-item col-4" th:each="categorie : ${categories}">[[${categorie.categorie}]]</li>
			</ul>
        	
        	<form th:action="@{/categorie/categorie}" method="post" th:object="${categorie}" class="row">
        	
        		<div class="col-6 form-group">
        			<label>Catégorie</label>
        			<input type="text" th:field="*{categorie}" class="form-control">
        		</div>
   
        		<div class="col-6 form-group mt-3">
        			<button type="submit" class="btn btn-outline-success">Envoyer</button>
        			<button type="reset" class="btn btn-outline-danger">Annuler</button>
        		</div>
        	
        	</form>
        	
        </main>
            
        <!-- Footer-->
		 <th:block th:replace="_commun :: footer"></th:block>
    </body>
</html>
