<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <th:block th:replace="_commun :: head"></th:block>
  
    </head>
    <body>
        <th:block th:replace="_commun :: header"></th:block>
        
        <main class="container-fluid">
        	<h2 class="text-center">Mon panier</h2>
        	
        	<div class="row mx-1" th:if="${#lists.size(session.panier)}">
        		<div class="col-8">
        			<div class="row">
        				<div class="card mb-3" th:each="panier, status : ${paniers}">
        					<div class="card-body row">
        						<div class="col-1 text-center">
        							[[${status.count}]]
        							<div>
        								<a th:href="@{/delete/__${panier.id}__}"><i class="fas fa-trash text-danger"></i></a>
        							</div>
        						</div>
        						<div class="col-4">
        							<img alt="logo" th:src="@{'/imgArticle/'+${panier.article.logo}}">
        						</div>
        						<div class="col-7">
        							<div class="fw-bold mb-2 text-primary">
        								<div>[[${panier.article.libelle}]]</div>
        								<span>quantité disponible : [[${panier.article.quantity}]]</span>
        							</div>
        							<form th:action="@{/add/panier}" method="post">
					      				<input type="hidden" name="article" value="">
					      				<ul class="pagination">
					      					<li class="page-item">
					      						<a href="#" class="page-link moins"><b>-</b></a>
					      					</li>
					      					
					      					<li class="page-item">
					      						<input readonly type="text" th:id="'input' + ${panier.article.id_art}" th:value="${panier.quantity}" class="form-control text-center" style="max-width: 55px; height: 45px;" />
					      					</li>
					      					<li class="page-item">
					      						<a href="#" th:pid="${panier.article.id_art}" class="page-link plus"><b>+</b></a>
					      					</li>
					      				</ul>
					      			</form>
					      			<div>X [[${panier.article.prix}]]€</div>
					      			<div class="fw-bold" >= <span class="somme">[[${panier.article.prix}*${panier.quantity}]]</span>€</div>
        						</div>
        					</div>
        				</div>
        			</div>
        		</div>
        		<div class="col-4">
        			Total panier
        			<div class="my-2"><span id="resultat"></span>€</div>
        			<a href="#" class="btn btn-primary">Valider</a>
        			<a href="#" class="btn btn-primary">Continuer mes achats</a>
        		</div>
        	</div>
        	<div th:unless="${#lists.size(session.panier)}" class="text-center">
        		Vous n'avez pas d'article dans votre panier
        	</div>
        	
        </main>
            
        <!-- Footer-->
		 <th:block th:replace="_commun :: footer"></th:block>
		 
		<script type="text/javascript">
		
//  			$(".plus").click( (e) => {
//  				e.preventDefault();
//  				var inputVal = "input" + $(this).attr("pid");
//  				//console.log( $(this) );
//  				console.log( inputVal );
//  			} );
 			
//  			var plus = document.getElementsByClassName('plus');

//  			for(i=0; i<plus.length; i++){
//  				plus[i].addEventListener('click', (e) =>{
//  					console.log(e.target.getAttribute('pid'));
//  				})
//  			}
 			
 			
 			sommeElt = document.getElementsByClassName("somme");
		 	total = 0;
 			for(i=0; i<sommeElt.length; i++){
 				sommeElt[i].innerHTML = Math.round( sommeElt[i].innerText * 100 ) / 100;
 				total += parseFloat( sommeElt[i].innerHTML );
 			}
 			document.getElementById('resultat').innerHTML = new Intl.NumberFormat().format(total);
 			
 			
		 	
		</script>
    </body>
</html>
