@charset "utf-8";

header{
/* 	background: url([[@{/img/home-bg.jpg}]]); */
}



.mastheadBis{
	position: relative;
    margin-bottom: 3rem;
    padding-top: calc(8rem + 57px);
    background: no-repeat center center;
    background-color: #6c757d;
    background-size: cover;
    background-attachment: scroll;
}

header img{
	width: 70%
}

img{max-width: 100%}

td{
	height: 50px;
	width: 50px
}

.panier{
	position: absolute;
	top: 23px;
    right: 168px;
    z-index: auto;
}